# Sizzy
*.AppImage

# Git secret
.gitsecret/keys/random_seed
!*.secret
_secret/ssh/known_hosts
_secret/ssh/ssh-peteler-family
_secret/ssh/ssh-peteler-family-cert.pub
_secret/ssh/peteler-family-client
_secret/ssh/peteler-family-client-cert.pub

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

