# Sizzy
*.AppImage

# Secrets
_secret/ssh/known_hosts
_secret/ssh/peteler-family-client
_secret/ssh/peteler-family-client-cert.pub
_secret/mbsync_gmail
_secret/mbsync_janz
_secret/syncthing.tar.gz
_secret/wg-profiles.nix

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

